body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url(svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

li svg {
  padding-top: 3px;
  transform-origin: 50% 50%;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  transition: color .3s ease-out;
}

a:hover {
  color: #111;
}



/* ===== HEADER ===== */

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-svg {
  height: 14px;
}

.header-name {
  display: block;
  margin-bottom: 0;
}

.st1 {
  display: none;
}

.header-svg {
  width: 140px;
  height: 120px;
}



/* ===== MAIN ===== */

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

.root-svg {
  display: none;
}

.coats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.coats div {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.coats span {
  padding-top: 10px;
  color: #ba8058;
  padding-right: 20px;
}

.sable {
  color: #BA8058;
}

.fawn {
  color: #F4C6A6;
}

.red {
  color: #824b2d;
}

.stone {
  color: #52595f;
}



/* ===== FOOTER ===== */

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}



/* ===== HOVER STATES ===== */

a path {
  transition: transform .3s ease-out, fill .3s ease-out;
  transform-origin: 50% 50%;
}

a:hover path {
  fill: #111;
  transform: scale(1.1) rotate(-10deg);
}

.header-svg {
  transform-origin: 50% 50%;
  transition: transform .5s;
  transition-timing-function: cubic-bezier(0.6,0,0.29,1);
}

.header-svg:hover {
  transform: scale(1.2) rotate(10deg);
}



/* ===== MEDIA QUERIES ===== */

@media (min-width: 425px) {
  
  .header-name {
    display: none;
  }
  
  .st1 {
    display: block;
  }
}