body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url(svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover * {
  color: #111;
  fill: #111;
}



/* ===== HEADER ===== */

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-svg {
  height: 14px;
}

.header-name {
  display: block;
  margin-bottom: 0;
}

.st1 {
  display: none;
}

.header-svg {
  width: 140px;
  height: 120px;
}



/* ===== MAIN ===== */

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

.root-svg {
  display: none;
}

.coats div {
  display: inline;
  max-width: 150px;
}

.coats span {
  display: block;
}

.sable {
  color: #BA8058;
}

.fawn {
  color: #F4C6A6;
}

.red {
  color: #824b2d;
}

.stone {
  color: #52595f;
}



/* ===== FOOTER ===== */

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}



/* ===== MEDIA QUERIES ===== */

@media (min-width: 425px) {
  
  .header-name {
    display: none;
  }
  
  .st1 {
    display: block;
  }
}